@using Microsoft.Extensions.Configuration;
@using Microsoft.AspNetCore.Http
@inject IConfiguration Configuration;

@{
    ViewBag.Title = "Product";
    string apiUrl = Configuration.GetValue<string>("WebAPIBaseUrl");
}

<!-- PAGE-HEADER -->
<div class="page-header">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fe fe-file-text mr-1"></i>Admin Consol</a></li>
        <li class="breadcrumb-item active" aria-current="page">Product Create</li>
    </ol>
    <div class="ml-auto">
        <a href="~/Product/ProductList" class="btn btn-primary btn-icon btn-sm text-white mr-2">
            <span>
                <i class="fe fe-plus"></i>
            </span> View
        </a>
    </div>
</div>
<!-- PAGE-HEADER END -->

<div class="row">
    <div class="col-md">
        <div class="card overflow-hidden">
            <div class="card-header">
                <h3 class="card-title">Product Create</h3>
            </div>
            <div class="card-body">
                <form action="#" role="form" class="validate" id="formPost">
                    <div class="row">
                        

                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label">Brand &nbsp;<span style="color: red;"><b>*</b></span></label>
                                <div class="input-box">
                                    <select class="form-control" id="selectbrand">
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label">Category Name &nbsp;<span style="color: red;"><b>*</b></span></label>
                                <div class="input-box">
                                    <select class="form-control" id="selectcategory">
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label">Product name &nbsp;<span style="color: red;"><b>*</b></span></label>
                                <input type="text" class="form-control" id="productname" placeholder="Product name" required>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label">MRP &nbsp;<span style="color: red;"><b>*</b></span></label>
                                <input type="text" class="form-control" id="mrp" placeholder="MRP" required>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label">Selling Price &nbsp;<span style="color: red;"><b>*</b></span></label>
                                <input type="text" class="form-control" id="sellingprice" placeholder="Selling Price" required>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label">Packaging Type &nbsp;<span style="color: red;"><b>*</b></span></label>
                                <select  class="form-control" id="packagingtype" placeholder="Packaging Type" required>
                                    <option value="0">Select Packaging Type</option>
                                    <option value="Cartons/boxes">Cartons/boxes</option>
                                    <option value="Piece">Piece</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label">Quantity &nbsp;<span style="color: red;"><b>*</b></span></label>
                                <input type="text" class="form-control" id="quantity" placeholder="Quantity" required>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label">Product Image &nbsp;<span style="color: red;"><b>*</b></span></label>
                                <input type="file" class="form-control" id="productimg" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <button type="button" id="btncreate" class="btn btn-radius btn-success">Create</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        GetArea()
        async function GetArea(Id) {
            var opt = '';
            $.ajax({
                type: "GET",
                url: "@apiUrl/api/Brand/GetBrandListbyUserId/" + @Context.Session.GetInt32("UserId"),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (res) {
                    var options = [];
                    options.push('<option value = "" > Select Brand </option>');
                    for (var i = 0; i < res.data.length; i++) {
                        if (Id == res.data[i].brandId) {
                            opt = 'selected'
                        } else {
                            opt = '';
                        }
                        options.push('<option value = "' + res.data[i].brandId + '" ' + opt + ' > ' + res.data[i].brandName + '</option>');
                    }
                    $("#selectbrand").html(options.join(''));
                },

                error: function (data) {
                    if (data.status == 401) {
                        window.location.replace('/Message/TokenExpire');
                    } else if (data.status == 403) {
                        window.location.replace('/Message/Unauthorize');
                    }
                }
            });
        }

        $("#selectbrand").change(async function () {
            var brandId = $("#selectbrand").val()
            var opt = '';
            $.ajax({
                type: "GET",
                url: '@apiUrl/api/Category/GetCategoryListbyBrandid/' + brandId + "/" + @Context.Session.GetInt32("UserId"),
                dataType: "json",
                success: function (data) {
                    var options = [];
                    options.push('<option value="">Select Category </option>');
                    console.log(data)
                    for (var i = 0; i < data['data'].length; i++) {
                        options.push('<option value="' + data['data'][i].categoryId + '" ' + opt + '>' + data['data'][i].categoryName + '</option>');
                    }
                    $("#selectcategory").html(options.join(''));
                },
                error: function (data) {
                    if (data.status == 401) {
                        window.location.replace('/Message/TokenExpire');
                    } else if (data.status == 403) {
                        window.location.replace('/Message/Unauthorize');
                    }
                }

            });

        });

        $("#btncreate").click(function (e) {
            if (!document.getElementById("formPost").checkValidity()) {
                e.preventDefault();
            } else {
                imgPath = '';
                var totalFiles = document.getElementById('productimg').files.length;
                if (totalFiles > 0) {
                    uploadFile();
                }
                var model = {
                    brandId: parseInt($("#selectbrand").val()),
                    categoryId: parseInt($("#selectcategory").val()),
                    productDetailsName: $.trim($("#productname").val()),//ui
                    mrp: $.trim($("#mrp").val()),
                    sellingPrice: $.trim($("#sellingprice").val()),
                    packagingType: $.trim($("#packagingtype").val()),
                    quantity: $.trim($("#quantity").val()),
                    image: imgPath,
                    createdBy: @Context.Session.GetInt32("UserId"),
                };

                console.log(model);

                $.ajax({
                    type: "POST",
                    url: "@apiUrl/api/ProductDetails/ProductDetailsRepoCreate",
                    data: JSON.stringify(model),
                    contentType: "application/json; charset=utf-8",
                    headers: {
                        "authorization": "Bearer @Context.Session.GetString("TokenTxt")"
                    },
                    dataType: "json",
                    success: function (data, statusText, xhr) {
                        if (xhr.status === 200) {
                            console.log(data);
                            sweetAlert({
                                html: true,
                                title: "Product Add",
                                text: "Successfully Created!",
                                type: "success"
                            });
                        } else if (data.status === "duplicate") {
                            sweetAlert("Validation Alert!", data.responseMsg, "warning");
                        } else if (data.status === "error") {
                            sweetAlert("Validation Alert!", data.responseMsg, "warning");
                        } else {
                            sweetAlert("Validation Alert!", "Something unexpected!", "warning");
                        }
                    },
                    error: function (data) {
                        if (data.status == 401) {
                            window.location.replace('/Message/TokenExpire');
                        } else if (data.status == 403) {
                            window.location.replace('/Message/Unauthorize');
                        } else if (data.status == 400) {
                            sweetAlert("Validation Alert!", "Please check input data!", "warning");
                        }
                    }
                });


            }
        });

        function uploadFile() {
            var totalFiles = document.getElementById('productimg').files.length;
            if (totalFiles > 0) {
                var formData = new FormData();
                var files = document.getElementById('productimg').files;
                formData.append("file", files[0]);
                $.ajax(
                    {
                        url: "/Upload/ImgUpload",
                        data: formData,
                        processData: false,
                        contentType: false,
                        async: false,
                        type: "POST",
                        success: function (data) {
                            imgPath = data;

                        },
                        error: function (data) {
                            window.location.replace('/Message/SessionExpire');
                        }
                    }
                );
            }

        }

    </script>

}